<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MailjetAPIKey" value="" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="MailjetSecretKey" value="" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="owin:AppStartup" value="OwinHangfireConfig" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="auth0:ClientId" value="" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="auth0:ClientSecret" value="" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="auth0:Domain" value="" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="MistletoeAPI_URL" value="http://localhost/Mistletoe.API/api/" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
</configuration>
