################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mistletoe.Web/bin
/Mistletoe.Web/obj/Debug
/Mistletoe.Web.Tests/obj/Debug
/packages
/Mistletoe.Web/App_Data/aspnet-Mistletoe.Web-20180416112445_log.ldf
/Mistletoe.Web/App_Data/aspnet-Mistletoe.Web-20180416112445.mdf
/Mistletoe.Web/App_Data/Mistletoe_log.ldf
/Mistletoe.Web/App_Data/Mistletoe.mdf
/Mistletoe.Web.Tests/bin/Debug
/Mistletoe.Web/logs
/Mistletoe.Web/App_Data/Backup
/Mistletoe.Web.Data/bin/Debug
/Mistletoe.Web.Data/obj/Debug
/Mistletoe.Web.Identity/bin/Debug
/Mistletoe.Web.Identity/Import Script Logs
/Mistletoe.Web.Identity/obj/Debug
/Mistletoe.Web.Data/Mistletoe.Web.Data.dbmdl
/Mistletoe.Web.Data/Mistletoe.Web.Data.jfm
/Mistletoe.Web.Identity/Mistletoe.Web.Identity.dbmdl
/Mistletoe.Web.Identity/Mistletoe.Web.Identity.jfm
/Mistletoe.Web.Identity/Mistletoe.Web.Identity.sqlproj.user
/Mistletoe.Web.Data/Mistletoe.Web.Data.sqlproj.user
/Mistletoe.Exporter/bin/Debug
/Mistletoe.Exporter/obj/Debug
/Mistletoe.Dispatcher/bin/Debug
/Mistletoe.Dispatcher/obj/Debug
/Mistletoe.DAL/bin/Debug
/Mistletoe.DAL/obj/Debug
/Mistletoe.Email/bin/Debug
/Mistletoe.Email/obj/Debug
/Mistletoe.Web.Data/Mistletoe.Data.jfm
/Mistletoe.Web.Data/Mistletoe.Data.dbmdl
/Mistletoe.HangfireServer/bin/Debug
/Mistletoe.HangfireServer/obj/Debug
/Mistletoe.DAL/Mistletoe.DAL.csproj.user
/Mistletoe.DAL/bin/Release
/Mistletoe.DAL/obj/Release
/Mistletoe.Dispatcher/obj/Release
/Mistletoe.Email/bin/Release
/Mistletoe.Email/obj/Release
/Mistletoe.HangfireServer/obj/Release
/Mistletoe.Exporter/obj/Release
/Mistletoe.Web/obj/Release
/Mistletoe.Web.Tests/obj/Release
/Mistletoe.Exporter/bin/Release
/Mistletoe.HangfireServer/bin/Release
/Mistletoe.Web.Data/bin/Release
/Mistletoe.Web.Data/obj/Release
/Mistletoe.Web.Tests/bin/Release
/Mistletoe.Web/App_Data/7/EmailTemplateData.xlsx
/Mistletoe.Web.Tests/Mistletoe.Web.Tests.csproj.user
/Mistletoe.DALTests/bin/Debug
/Mistletoe.DALTests/obj/Debug
/Mistletoe.DALTests/obj/Release
/Mistletoe.HangfireServer/Mistletoe.HangfireServer.csproj.user
/Mistletoe.DALTests/bin/Release
/Mistletoe.Entities/bin/Debug
/Mistletoe.Entities/obj/Debug
/Mistletoe.BLL/bin/Debug
/Mistletoe.BLL/obj/Debug
/Mistletoe.BLL/bin/Release
/Mistletoe.BLL/obj/Release
/Mistletoe.Entities/obj/Release
/Mistletoe.Entities/bin/Release
/Mistletoe.BLL.Tests/obj/Debug
/Mistletoe.BLL.Tests/bin/Debug
/Mistletoe.BLL.Tests/obj/Release
/Mistletoe.API/bin
/Mistletoe.API/obj/Debug
/Mistletoe.API/obj/Release
/Mistletoe.Common/bin/Debug
/Mistletoe.Common/obj/Debug
/Mistletoe.Models/bin/Debug
/Mistletoe.Models/obj/Debug
/Mistletoe.Web.Data/PostDeployment/AddDBUser.sql
