@{
    ViewBag.Title = "Mistletoe";
}

@using System.Security.Claims;

<div class="container">
    <div class="jumbotron" style="background-color:white">
        <div class="row">
            <div class="col-md-9">
                <h1>Mistletoe</h1>
                <p class="lead">Newsletters, Campaigns and Bulk reminders</p>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>

    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));

        twttr.ready(function (twttr) {

            twttr.widgets.createTimeline(
                "695909162241368064",
                document.getElementById("twitter-timeline"),
                {
                    height: 400
                }
            );
        });
    </script>

    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Create a campaign</h3>
                        </div>
                        <div class="card-body">
                            Create a campaign with a few clicks
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Create a template</h3>
                        </div>
                        <div class="card-body">
                            Fill the template for the notication
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Provide user data</h3>
                        </div>
                        <div class="card-body">
                            Fill simple list of emails 
                            <br />
                            or 
                            <br />
                            Provide excel sheet with emails and placeholders
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Activate the campaign</h3>
                        </div>
                        <div class="card-body">
                            Activate the campaign and let Mistletoe handle the rest!
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="twitter-timeline" width="40%" height="500"></div>
        </div>
    </div>

</div>
